@charset "utf-8";




/**** reset.css. ONLY use these tags  ****/
body{border:0;margin:0}
h1,h2,h3,h4,h5,h6{padding-top:0;padding-bottom:0;margin-top:0;margin-bottom:0;font-weight:400}

dl{margin-top:0;margin-bottom:0}dd{margin-left:0}
ul,ol{padding:0;margin:0;list-style:none}/*li*/

p{margin-top:0;margin-bottom:0}
strong,b,small{font-weight:400}em,i{font-style:normal}u{text-decoration:none}/*span*/
img{border:0;-ms-interpolation-mode:bicubic}

table{border-collapse:collapse;border-spacing:0}th,td{padding:0}th{font-weight:400}


form{padding:0;margin:0}
label,input,select,textarea{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;padding:0;border:0;margin:0;font-size:100%;font-family:inherit;outline:0;
-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
label,select{cursor:pointer}
label{-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;}
select{text-transform:none}
input,select,textarea{line-height:normal}
html input[disabled]{cursor:default}
textarea{overflow:auto;vertical-align:top}

input::-moz-focus-inner{padding:0;border:0}
html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
input[type="search"],input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:textfield;-webkit-appearance:none}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {-webkit-appearance:none;appearance:none;margin:0;}

fieldset{border:none;}video,audio{display:block}
object,iframe,pre,code,abbr{padding:0;margin:0}
sup{line-height:inherit;font-size:inherit;vertical-align:baseline}

a:focus,a:active{outline:0 none}
/*:focus,:active{outline:0 none}*/
*{-webkit-touch-callout:none;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;-webkit-appearance:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;}



/*** preset. Change according to the project ***/
body{line-height:20px;color:#434343;font-size:12px;
font-family:"Microsoft Yahei","Simsun",Tahoma,arial,Helvetica,verdana,sans-serif;
background-color:#f9f9f9;}
h1{font-size:18px}h2{font-size:16px}h3{font-size:14px}
h4{font-size:12px}h5{font-size:12px}h6{font-size:12px}

:-moz-placeholder{color:#666}:focus:-moz-placeholder{color:#333}
::-moz-placeholder{color:#666}:focus::-moz-placeholder{color:#333}
::-webkit-input-placeholder{color:#666}:focus::-webkit-input-placeholder{
color:#333}
:-ms-input-placeholder{color:#666}:focus::-ms-placeholder{color:#333}
::selection { background:lightblue; }
::-moz-selection { background:lightblue; }



/* 前景 a 链接的优先顺序
:link > :visited > :focus -> :hover -> :active */
a:link{color:#5e5e5e;text-decoration:none;}
a:visited{color:#777;text-decoration:none;}
a:hover{color:#f3;text-decoration:none;}
a:active{color:#f90;text-decoration:none;}



/*img的修饰 */
img{display:block;max-width:100%;height:auto;vertical-align:bottom}
.img{alpha(opacity=90);opacity:0.9;}
.img:hover{alpha(opacity=100);opacity:1;}




/**** fix.css Use carefully ****/

.cf:before,.cf:after{display:table;line-height:0;content:' '}
.cf:after{clear:both}
.cf{*zoom:1}



.elis{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.elis{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.inb{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;}
.bcir{display:inline-block;*display:inline;*zoom:1;vertical-align:top;overflow:hidden;}
.ht{color:transparent;font:0/0 a;text-shadow:none;}/*真正透明文字*/



.tac{ text-align:center;}
.per100{width:100%;}.per50{width:50%;}



.hide{display:none !important;}
.blk{display:block !important;}


/**** basic.css Use carefully ****/



/**** fix. carefully use ****/
.rel{position:relative}.abs{position:absolute}.fixed{position:fixed}

.fl{float:left;}.fr{float:right;}.cl{clear:both;}
.cf:before,.cf:after{display:table;line-height:0;content:' ';}
.cf:after{clear:both;}.cf{*zoom:1;}

.elis{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis}
.autobr{word-wrap:break-word;overflow:hidden}
.ox{overflow-x:auto;overflow-y:hidden}
.oy{overflow-x:hidden;overflow-y:auto}
.oh{overflow:hidden}

.inb{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;}
.hide{display:none!important;}/*隐藏 不预加载*/
.vh{visibility:hidden!important;}/*盒子不可见占位1*/
.h0{height:0;visibility:hidden;position:absolute;left:0;top:0}/*让audio标签不可见*/
.fi0{opacity:0;filter:alpha(opacity=0);position:absolute;top:0;left:0}/*模拟input checkbox隐藏法 */
.ht{color:transparent;font:0/0 a;text-shadow:none}/*真正透明文字*/
.hand{cursor:pointer}

/*css remove the gap between .inb s*/
.inbfu{font-size:0;word-spacing:-4px\0;}
.inbzi{font-size:normal;word-spacing:normal;}
@media all and (-webkit-min-device-pixel-ratio:0){
.inbfu{letter-spacing:-4px;}
.inbzi{letter-spacing:normal;}
}



/**** shape. carefully use ****/
.wauto{width:auto!important}

.w2{width:2em}.w2m{max-width:2em}
.w3{width:3em}.w3m{max-width:3em}
.w4{width:4em}.w4m{max-width:4em}
.w5{width:5em}.w5m{max-width:5em}
.w6{width:6em}.w6m{max-width:6em}
.w7{width:7em}.w7m{max-width:7em}
.w8{width:8em}.w8m{max-width:8em}
.w9{width:9em}.w9m{max-width:9em}
.w10{width:10em}.w10m{max-width:10em}



.per10{width:10%}
.per20{width:20%}.per25{width:25%}
.per30{width:30%}.per33{width:33%}.per34{width:34%}
.per40{width:40%}.per45{width:45%}.per48{width:48%}
.per50{width:50%}.per52{width:52%}.per55{width:55%}
.per60{width:60%}.per67{width:67%}.per66{width:66%}
.per70{width:70%}.per75{width:75%}
.per80{width:80%}
.per90{width:90%}
.per94{width:94%}.per95{width:95%}.per96{width:96%}.per97{width:97%}.per98{width:98%}.per99{width:99%}
.per100{width:100%}



.ht1{height:100%}
.lhn{line-height:normal}



.bt0{border-top:0 !important}
.br0{border-right:0 !important}
.bb0{border-bottom:0 !important}
.bl0{border-left:0 !important}



.cen{margin-left:auto;margin-right:auto}
.mt0{margin-top:0 !important}
.mr0{margin-right:0 !important}
.mb0{margin-bottom:0 !important}
.ml0{margin-left:0 !important}
.mtf:before{display:table;content:'';line-height:0;}




/**** font. carefully use ****/

.tal{text-align:left !important}
.tac{text-align:center !important}
.tar{text-align:right !important}

.vat{vertical-align:top!important}
.vam{vertical-align:middle !important}
.vab{vertical-align:bottom !important}

.bgtr{background:transparent !important}





/****  effect.  Seldom used  ****/
.bzb{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
.usn{-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none}




/** radius
http://www.css3-generator.de
**/
.ra{border-top-left-radius:4px}
.rb{border-top-right-radius:4px}
.rc{border-bottom-right-radius:4px}
.rd{border-bottom-left-radius:4px}

.rn{border-top-left-radius:4px;border-top-right-radius:4px}
.re{border-top-right-radius:4px;border-bottom-right-radius:4px}/*bottom-right */
.rs{border-bottom-right-radius:4px;border-bottom-left-radius:4px}
.rw{border-bottom-left-radius:4px;border-top-left-radius:4px}

.r{border-radius:4px}.r50{border-radius:50%}






/*** icons ***/
/** icl 图标在左 left **/
.icl{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;
white-space:nowrap;cursor:pointer;
background-repeat:no-repeat;background-position:0 center;background-size:auto 80%;}
a.icl:hover{text-decoration:none}
.il1{height:18px;line-height:18px;padding-left:18px}
.il2{height:24px;line-height:24px;padding-left:24px}
.il3{height:30px;line-height:30px;padding-left:30px}
.il4{height:36px;line-height:36px;padding-left:36px}
.il5{height:42px;line-height:42px;padding-left:42px}




/** icr 图标在右 right **/
.icr{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;
white-space:nowrap;cursor:pointer;
background-repeat:no-repeat;background-position:right center;background-size:auto 80%;}
a.icr:hover{text-decoration:none}
.ir1{height:18px;line-height:18px;padding-right:18px}
.ir2{height:24px;line-height:24px;padding-right:24px}
.ir3{height:30px;line-height:30px;padding-right:30px}
.ir4{height:36px;line-height:36px;padding-right:36px}
.ir5{height:42px;line-height:42px;padding-right:42px}


/** ict 图标在上 top **/
.ict{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;
text-align:center;white-space:nowrap;cursor:pointer;
background-repeat:no-repeat;background-position:center 0;}
a.ict:hover{text-decoration:none}
.it1{min-width:18px;line-height:15px;padding-top:18px;background-size:auto 14px;}
.it2{min-width:24px;line-height:16px;padding-top:24px;background-size:auto 20px;}
.it3{min-width:30px;line-height:17px;padding-top:30px;background-size:auto 26px;}
.it4{min-width:36px;line-height:18px;padding-top:36px;background-size:auto 32px;}
.it5{min-width:42px;line-height:19px;padding-top:42px;background-size:auto 38px;}


/** icw 内带文字 width **/
.icw{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;
background-repeat:no-repeat;background-position:0 0}
a.icw{cursor:pointer}
a.icw:hover{text-decoration:none}
.iw1{width:18px;height:18px;line-height:18px}
.iw2{width:24px;height:24px;line-height:24px}
.iw3{width:30px;height:30px;line-height:30px}
.iw4{width:36px;height:36px;line-height:36px}
.iw5{width:42px;height:42px;line-height:42px}


/** special icw **/
.ino{width:18px;height:20px; line-height:19px;
padding:0 0 6px 0;color:#fff;font-size:14px;text-align:center;}
.ino1{background-image:url(ino1.png);}
.ino2{background-image:url(ino2.png);}
.ino3{background-image:url(ino3.png);}
.ino4{background-image:url(ino4.png);}


/** icon samples **/
.icang{background-image:url(icang0.png);}
.icang.ed{background-image:url(icang1.png);}





/*** form ***/

/** ipt for input type=text only **/
.ipt {position:relative; z-index:2;line-height:18px;transition: all 0.4s ease-out 0s;}

.fz1 .ipt, .ipt1{height:20px;padding:0 4px;}
.fz2 .ipt, .ipt2{height:26px;padding:3px 4px;}
.fz3 .ipt, .ipt3{height:32px;padding:6px 4px;}
.fz4 .ipt, .ipt4{height:38px;padding:9px 4px;}
.fz5 .ipt, .ipt5{height:44px;padding:12px 8px;}
.ipt{+height:18px;font-family:'Microsoft Yahei','Simsun',Tahoma,arial,Helvetica,verdana,sans-serif;}




.ipta{border:1px solid #ccc;background-color:#fff;color:#999;}
.ipta:focus{border:1px solid #66afe9;color:#000;
/*box-shadow:inset 0 0 3px rgba(225, 119, 79, 0.6);*/
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6)}





/** btn   **/

/** b.btn, a.btn, label.btn>input, 不要使用 button标签 **/
.btn{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;
text-align:center;letter-spacing:1px;cursor:pointer; position:relative;
-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;
-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;}
a.btn{text-decoration:none;}
label.btn>input{width:0px;height:0;background:none}



/*btn size 色调感觉比ipt矮1px为上 */
.fz1 .btn,.btn1{+height:18px;line-height:18px;padding:0 9px;}/*20*/
.fz2 .btn,.btn2{+height:24px;line-height:24px;padding:0 9px;}/*26*/
.fz3 .btn,.btn3{+height:30px;line-height:30px;padding:0 9px;}/*32*/
.fz4 .btn,.btn4{+height:36px;line-height:36px;padding:0 9px;}/*38*/
.fz5 .btn,.btn5{+height:42px;line-height:42px;padding:0 9px;}/*44*/

/**btn 情景配色方案 http://angrytools.com/gradient  **/
.btnpt{border:1px solid #e2e2e2;color:#666!important;
background-color:#eee}/* 普通灰 pt*/
.btnzd{border:1px solid #f60;color:#fff!important;
background-color:#f70}/* 重点金 zd*/



.btnbz{border:1px solid #268ffa;color:#fff!important;
background-color:#268ffa}/* 步骤蓝 bz*/
.btnyx{border:1px solid #6b0;color:#fff!important;
background-color:#6c0}/* 允许绿 yx*/
.btncw{border:1px solid #e00;color:#fff!important;
background-color:#f00}/* 错误红 cw */



.btnjg{border:1px solid #e88821;color:#fff!important;
background-color:#e88821}/* 警告黄 jg */
.btnjy{border:1px solid #ededed;color:#ccc!important;
cursor:not-allowed!important;background-color:#eee;
box-shadow:none!important}/* 禁用银 jy */



.btntj{border:1px solid #ae1e24;color:#fff!important;
background-color:#ae1e24}/* 重点金 zd*/





/** btn box-shadow */
.btn:focus{box-shadow:0 1px 1px rgba(34, 25, 25, 0.1)}
.btn:hover{opacity:0.9;}
.btn:active{box-shadow:0 1px 1px rgba(34, 25, 25, 0.4);}
.btn.on{opacity:0.8;box-shadow:0 1px 1px rgba(34, 25, 25, 0.4)}
.btn.disabled:focus,.btn.disabled:active,.btn.disabled.on{box-shadow:none!important}



/* ico in btn */
.btn .icl,.btn .icr,.btn .ict{vertical-align:top!important;}




/*btns*/
.btns{display:inline-block;border-radius:4px;overflow:hidden;}
.btns .btn{margin-left:-1px;}
.btns .btn.first{margin-left:0;}




/*** table ***/
.tbwrap{}




/**table base**/
.tb{width:100%;}
.tb th{white-space:nowrap;}
.tb td{text-align:left;}



/** tba **/
.tba{border-width:1px 0 0 1px;border-style:solid;border-color:#c7dbef;
background-color:#f8f8f8;font-size:12px;}
.tba th,.tba td{border-width:0 1px 1px 0;border-style:solid;border-color:#c7dbef}
.tba th{background-color:#f5faff;}



/**** commom models  ****/ 
/** pagenavi **/
.pagenavi{padding:40px 0;text-align:center;}
.page{margin:0 4px;height:30px;line-height:30px;
border:1px solid #b7b7b7;color:#949494;font-size:14px;}

.pagea{width:40px;}
.pageb{width:30px;}
.pagec{width:50px;}


.pagenavi .on{background-color:#f08300;color:#fff;}

.page:hover{background-color:#f08300;color:#fff;}




/**** layout  ****/  

/*** buju ***/
.all{}
.con{margin:0 auto;width:1200px;}
.scr{position:absolute;top:0;right:0;bottom:0;left:0;
overflow-x:hidden;overflow-y:auto;
-webkit-overflow-scrolling:touch;}


/** headout **/
.headout{line-height:28px;padding:5px 0;background-color:#f8f8f8;
border-bottom:1px solid #e1e1e1;}
.head{}


/** topnte **/
.topnte{float:left;}

.toplog{float:right;}
.toplnk{padding:0 9px;color:#9c9c9c;font-size:14px;}
.topbr{position:relative;top:-1px;color:#ccc;}
.toptit{margin:0 18px 0 8px;color:#565656;font-size:14px;}
.toprexian{color:#e62525;font-size:14px;letter-spacing:3px;}



/** neckout **/
.neckout{padding:20px 0;background-color:#fff;}
.neck{}



.sitetit{float:left;}
.sitelnk{}
.sitecov{}


.c2tels{float:right;}
.c2tit{margin-right:12px;line-height:18px;padding:10px;
border:1px solid #e1e1e1;color:#444;font-size:14px;}

.c2tit:hover{background-color:#f18b03;color:#fff;}

.c2tels .on{background-color:#f18b03;color:#fff;}



/** barmod **/
.barmod{position:relative;}
.c3nte{}
.c3cov{}


/** navmod **/
.navmod{position:absolute;top:0;left:0;z-index:100;width:100%;
height:98px;background:url(navbgc0.png) repeat-x center top;}
.navcot{}
.navitm{float:left;width:10%;line-height:52px;padding-bottom:40px;
text-align:center;}
a.navlnk{color:#e68011;font-size:14px;font-weight:600;}

.navitm .on{color:#008cd7;}

a.navlnk:hover{color:#008cd7;}





.navwav{position:absolute;top:40px;left:0;width:100%;height:60px;
content:'';background:url(navbgc2.png) repeat-x center center;
visibility:hidden;}
.barmod .now .navwav{visibility:visible;}


/* tablnks */
.tablnks{position:relative;left:50%;top:-20px;margin-left:-1100px;
visibility:hidden;width:2200px;padding-top:20px;
/* background-color:#eee; */ text-align:center;}
a.tablnk{padding:0 10px;color:#fff;font-size:14px;}
.navitm:hover .tablnks{visibility:visible;}


/** footout **/
.footout{padding:40px 0 200px;background-color:#1c1c1c;}
.foot{position:relative;}


/** ftcot **/
.ftcot{margin-right:470px;padding-top:20px;}
.ftitm{float:left;width:25%;padding:0 20px;text-align:center;
box-sizing:border-box;}

.ftnh{padding-bottom:30px;}
a.ftbti{color:#fff;font-size:18px;}
.ftnte{line-height:30px;}
a.ftlnk{color:#fff;font-size:14px;font-weight:600;}
.ftcov{margin-right:auto;margin-left:auto;}




/** ftform **/
.ftform{position:absolute;top:0;right:0;width:400px;
padding-top:10px;padding-left:50px;border-left:1px solid #fff;}
.ft2cot{}
.ft2mh{line-height:38px;padding:0 0 0 10px;color:#fff;font-size:30px;}
.ft2sup{padding:6px 0 10px 10px;color:#fff;}


.ft2itm{margin-bottom:12px;}
.ft2mta{float:left;width:90px;line-height:46px;
color:#fff;font-size:16px;text-align:center;letter-spacing:3px;}
.ft2ipts{margin-left:100px;}
.ft2ipt{width:100%;line-height:44px;font-size:16px;
border-radius:8px;text-indent:1em;}

.ft2eas{margin-left:100px;}
.ft2ea{height:90px;background-color:#fff;
border-radius:8px;text-indent:1em;}


a.ft2tj{margin-left:100px;width:300px;height:48px;line-height:48px;background-color:#f08300;
color:#fff;font-size:18px;text-align:center;border-radius:8px;}




/*** jkccat.html ***/
/** wrapout **/
.wrapout{padding-bottom:40px;}
.wrap{position:relative;min-height:600px;padding:0 18px;
border-left:1px solid #b7b7b7;background-color:#fff;
border-right:1px solid #b7b7b7;border-bottom:1px solid #b7b7b7;
border-bottom-left-radius:6px;border-bottom-right-radius:6px;}



/** jk1mh **/
.jk1mh{padding:24px 0 16px;border-bottom:1px solid #b7b7b7;}
.jk1tits{float:left;padding-left:36px;
background:url(chere.png) no-repeat left center;}
.jk1tit{}
.jk1tita{display:block;color:#f08300;font-size:16px;font-weight:600;}
.jk1titb{color:#b7b7b7;font-size:12px;}
.jk1titc{float:right;margin-top:6px;color:#5d5d5d;font-weight:600;}


.jk1lnk{}

.jk2cot{margin-top:20px;padding:40px 30px 10px;
background-color:#f6f6f6;}
.jk2itm{margin-bottom:20px;}
.jk2mta{float:left;width:70px;line-height:32px;
color:#f08300;font-size:14px;text-align:right;}
.jk2tits{line-height:32px;}
.jk2tit{margin:0 6px;padding:6px;font-size:14px;}

.jk2tit:hover{background-color:#f08300;color:#fff;}

.jk2tits .on{background-color:#f08300;color:#fff;}




/** jk3mod **/
.jk3mod{margin:20px 0;}
.jk3cot{}
.jk3itm{padding:6px 0;background-color:#f6f6f6;}


.jk3itm .now{background:#f08300 url(duigou.png) no-repeat center center;}


.jk3tit{padding:0 10px;color:#f08300;font-size:14px;}
.jk3mta{padding:0 14px 0 10px;
background:url(shangs.png) no-repeat right center;font-size:14px;}


.jk4icon{margin-left:20px;width:20px;height:20px;
background-color:#f08300;}
.jk3right{}


.jk4form{margin-left:16px;}
.jk4cot{}
.jk4itm{float:left;}
.jk4mta{float:left;font-size:14px;}
.jk4ipts{margin-left:60px;}


.jk4left{float:left;padding-left:10px;font-size:14px;}
.jk4right{float:right;margin-left:8px;line-height:18px;padding:0 6px;
border:1px solid #ccc;}
.jk4text{margin:0 46px 0 30px;}



/** jk6dl **/
.jk6dl{padding:20px 0;border-bottom:1px solid #d4d4d4;}
.jk6dt{float:left;}
.jk6dd{position:relative;margin-left:290px;}

.jk6lnk{}
.jk6cov{}


.jk6cot{margin-right:180px;}

.jk6itm{position:relative;line-height:26px;}

.jk6nh{line-height:28px;padding:14px 0 10px;
color:#333;font-size:16px;}

.jk6mta{position:absolute;top:0;left:0;width:70px;color:#f08300;
font-size:14px;font-weight:600;}
.jk6nte{margin-left:70px;line-height:24px;font-size:14px;}
a.jk6lnk{color:#f08300;}



.jk5cot{position:absolute;right:0;top:0;width:130px;}
.jk5itma{line-height:34px;text-align:center;}
.jk5itm{margin-bottom:6px;line-height:44px;text-align:center;}


.jk5mta{color:#008cd7;}
.jk5tit{}
.jk5key{font-size:32px;}

a.jk5lnk{padding:12px 30px;background-color:#f08300;
color:#fff;font-size:16px;border-radius:8px;}

.jk5bti{padding:12px 30px;background-color:#fcf0e1;
color:#f08300;font-size:16px;border-radius:8px;}






/*** jkcdetail.html ***/
/** dldl **/
.dldl{padding:20px 0;border-bottom:1px solid #b7b7b7;}
.dldt{float:left;}
.dldd{margin-left:380px;}


.dllnk{}
.dlcov{}


.dlmh{padding:4px 0;background-color:#fcf0e1;}
.dlmta{line-height:34px;padding-left:10px;color:#f08300;}
.dltit{}
.dlnum{font-size:28px;}
.dlbti{margin-left:20px;background-color:#008cd7;border-radius:8px;
padding:8px 24px;color:#fff;font-size:16px;}



/** dl2cot **/
.dl2cot{padding-top:10px;}
.dl2itm{position:relative;line-height:26px;}

.dl2nh{line-height:28px;padding:14px 0 10px;
color:#333;font-size:16px;}

.dl2mta{position:absolute;top:0;left:0;width:70px;color:#f08300;
font-size:14px;font-weight:600;}
.dl2nte{margin-left:70px;line-height:24px;font-size:14px;}
a.dl2lnk{color:#f08300;}





/** dl3mod **/
.dl3mod{}
.dl3nte{line-height:28px;padding:6px 0;text-align:right;}
a.dl3lnk{padding-right:18px;background:url(xia.png) no-repeat right center;
color:#f08300;font-size:14px;}

.dl3mh{line-height:40px;background-color:#f6f6f6;}
.dl3tit{width:100px;border-top:2px solid transparent;color:#f08300;
text-align:center;}

.dl3tit:hover{background-color:#fff;border-top:2px solid #f08300;}





/** dl4cot **/
.dl4cot{margin-top:20px;}
.dl4itm{margin-bottom:20px;padding-bottom:6px;
border-bottom:1px solid #e1e1e1;}
.dl4yixuan{}
.dl4dtes{margin-left:42px;line-height:32px;}
.dl4dte{padding:4px 24px 4px 4px;border:1px solid #e1e1e1;
background:url(chacha.png) no-repeat 98% center;}

.dl4mta{float:left;line-height:28px;
color:#f08300;font-size:14px;text-align:left;}
.dl4tits{line-height:32px;}
.dl4tit{margin:0 6px;padding:6px;font-size:14px;}

.dl4tit:hover{background-color:#f08300;color:#fff;}

.dl4tits .on{background-color:#f08300;color:#fff;}




/** jk3moda **/
.jk3moda{margin-bottom:0px;}




/** dl5mta **/
.dl5mta{width:42px;}
.dl5nte{margin-left:46px;}




/*** kuaisuyuyue.html ***/
/** ksmh **/
.ksmh{padding:20px 0 10px;}
.kstits{line-height:24px;background: url(qqq.png) no-repeat left center;}

.kshere{margin-top:15px;}




/** ks2modout **/
.ks2modout{margin-bottom:20px;}
.ks2mod{float:left;margin-top:20px;width:50%;padding:0 10px;
box-sizing:border-box;}

.entry{float:right;margin-top:20px;width:50%;padding:0 10px;
border-left:1px dashed #d4d4d4;box-sizing:border-box;}


.ks2mh{padding:20px 0;border-bottom:1px dashed #b7b7b7;
text-align:center;}
.ks2tit{display:block;line-height:30px;color:#54a6df;font-size:18px;}
.ks2sup{color:#a8a8a8;font-size:12px;}



/** ks2cot **/
.ks2cot{padding:30px 20px 0;}
.ks2itm{position:relative;float:left;margin:20px 0;width:50%;}
.ks2mta{position:absolute;top:1px;left:0;
width:86px;height:32px;line-height:32px;background-color:#f08300;color:#fff;
font-size:16px;text-align:center;border-radius:14px;}
.ks2slts{margin-left:76px;line-height:32px;}
.ks2slt{width:90%;line-height:32px;height:32px;background-color:#fff;
border:1px solid #d4d4d4;color:#9f9f9f;text-indent:1em;}


.ks2icon{position:absolute;top:1.2px;right:10px;width:34px;height:30px;
background:#fff url(san.png) no-repeat center center;
pointer-events:none;border-top:1px solid #b7b7b7;
border-right:1px solid #b7b7b7;border-bottom:1px solid #b7b7b7;
border-top-right-radius:14px;border-bottom-right-radius:14px;}



.ks3itm{}
.ks2tea{width:520px;height:100px;padding-top:6px;
background-color:#fff;border:1px solid #b7b7b7;
border-radius:14px;text-indent:1em;}


.ks3lnks{margin-top:20px;width:520px;line-height:44px;
background-color:#f08300;text-align:center;border-radius:22px;}
a.ks3lnk{color:#fff;font-size:18px;}




/** post **/
.post{padding:10px 0 20px;}
.post p{line-height:24px;color:#333;font-size:14px;text-indent:2em;}




/** tapmod **/
.tapmod{position:absolute;top:0;left:0;width:100%;height:100%;
background-color:rgba(0,0,0,.5);transform:translate(0,0);display:none;}


.tapcot{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);
width:400px;padding:30px 20px 20px;background-color:#fff;}

.tapitm{margin-bottom:20px;}
.tapmta{float:left;width:60px;line-height:32px;font-size:14px;text-align:center;}
.tapipts{}
.tapipt{width:60%;}


.all .blk{display:block;}




/*** jblogcat.html ***/
/** wrapnews **/
.wrapnews{border-left:1px solid transparent;
border-bottom:1px solid transparent;border-right:1px solid transparent;}
.main{margin-left:280px;}
.seco{position:absolute;top:0;left:18px;width:260px;background-color:#fff;border-left:1px solid #e5e3e3;border-bottom:1px solid #e5e3e3;
border-right:1px solid #e5e3e3;border-bottom-left-radius:4px;
border-bottom-right-radius:4px;}


/** jbmod **/
.jbmod{}
.jbmh{line-height:68px;background-color:#f08300;color:#fff;font-size:26px;
text-align:center;}


.jbcot{}
.jbitm{position:relative;padding:8px 0;
border-bottom:1px dashed #d4d4d4;}
.jbdongtai{border-bottom:1px dashed transparent;}
a.jblnk{display:block;line-height:42px;color:#333;font-size:14px;
text-indent:3em;}

.jb1icon{position:absolute;top:19px;right:50px;width:20px;height:20px;
background:url(icon2.png) no-repeat center center;}


.jb1iconb{position:absolute;top:19px;right:50px;width:20px;height:20px;
background:url(right.png) no-repeat center center;}


.jbitm .on{background-color:#f08300;color:#fff;}

.jblnk:hover{background-color:#f08300;color:#fff;}


/** main **/
.main{padding:0 16px 30px;background-color:#fff;
border-left:1px solid #d4d4d4;border-bottom:1px solid #d4d4d4;
border-right:1px solid #d4d4d4;border-bottom-left-radius:4px;
border-bottom-right-radius:4px;}
.jbtit{background: url(nnn.png) no-repeat left center;}


/** jb2dl **/
.jb2dl{padding:30px 0;border-bottom:1px dotted #d4d4d4;}
.jb2dt{float:left;}
.jb2dd{margin-left:260px;}


.jb2lnk{padding-left:px;}
.jb2cov{}


.jb2nh{line-height:28px;padding:0 0 6px;
color:#f08300;font-size:16px;font-weight:600;}
.jb2nte{padding-bottom:10px;border-bottom:1px solid #d4d4d4;
color:#f08300;font-size:16px;}
.jb2bti{line-height:26px;padding-top:6px;color:#333;font-size:14px;}


.jppost{padding-top:10px;}
.jppost p{line-height:26px;font-size:14px;text-indent:2em;}





/*** huodong.html ***/
/** hd1dl **/
.hdtit{background: url(aaa.png) no-repeat left center;}
.hd1dl{margin-top:20px;}
.hd1dt{float:left;}
.hd1dd{margin-left:530px;}


.hd1cob{}
.hd1cov{}


.hd1nh{padding:14px 0 30px;font-size:18px;}
.hd1nte{line-height:26px;font-size:15px;}
.hd1nteb{color:#f08300;}



/** hd1cot **/
.hd1cot{margin-top:40px;}
.hd1itm{width:48%;}
.hd1itmb{text-align:right;}

a.hd1jiesu{padding:12px 20px;background-color:#f08300;
border-radius:8px;color:#fff;font-size:16px;}
.hd1tit{margin-left:20px;font-size:14px;}


.hd1lnk{width:30px;height:30px;}


.hd1lnka{background:url(huodong1.png) no-repeat center center;}
.hd1lnkb{background:url(huodong2.png) no-repeat center center;}
.hd1lnkc{background:url(huodong3.png) no-repeat center center;}
.hd1lnkd{background:url(huodong4.png) no-repeat center center;}
.hd1lnke{background:url(huodong5.png) no-repeat center center;}




/** hd2modout **/
.hd2modout{position:relative;margin-top:30px;min-height:660px;}
.hd2mod{margin-right:280px;}
.hdsemod{position:absolute;top:0;right:0;}


.hd2mh{line-height:30px;padding-bottom:10px;
border-bottom:1px solid #b7b7b7;}
.hd2tit{float:left;font-size:18px;}
a.hd2lnk{float:right;padding-right:6px;color:#429edd;}


.hd2cot{padding:24px 0 0 30px;}
.hd2itm{line-height:30px;font-size:14px;}
.hd2jia{margin-top:30px;}
.hd2nh{line-height:30px;font-size:18px;}


.hd3nh{line-height:30px;padding-bottom:10px;}



/** hd3mod **/
.hd3mod{}
.hd3mh{padding:44px 0 10px;border-bottom:1px solid #b7b7b7;
color:#008cd7;font-size:18px;}

.hd3cot{padding:20px 10px 60px;}
.hd3itm{float:left;width:25%;padding:10px;
border-top:1px solid #b7b7b7;border-right:1px solid #b7b7b7;
border-bottom:1px solid #b7b7b7;box-sizing:border-box;}
.hd3itma{border-top:1px solid transparent;}
.hd3itm:nth-child(4n+1){border-left:1px solid #b7b7b7;}
.hd3lnk{}
.hd3cov{margin-right:auto;margin-left:auto;}
.hd3tit{margin-top:10px;display:block;line-height:24px;
padding-left:8px;font-size:14px;}


.hd3itm:hover{border-left:1px solid #f08300;
border-bottom:1px solid #f08300;border-top:1px solid #f08300;}


.hd3itm:hover .hd3tit{color:#f08300;}


/** hdsemod **/
.hdsemod{}
.selnk{position:relative;margin-bottom:20px;display:block;}
.secov{width:270px;}

.setit{position:absolute;right:10px;bottom:10px;padding:6px 16px;
background-color:rgba(0,0,0,.5);color:#fff;font-size:14px;
border-radius:10px;}



/*** index.html ***/
/** banner  **/
/** bxslider  **/
.bx-wrapper{position:relative;margin:0 auto 60px;padding:0;-ms-touch-action:pan-y;touch-action:pan-y}.bx-wrapper .item{width:0;/* height:500px!important; */
overflow:hidden;}.bx-wrapper img{display:block;width:100%;height:100%}.bxslider{margin:0;/* height:500px; */padding:0}
ul.bxslider{list-style:none}.bx-viewport{/* height:500px; */
	-webkit-transform:translatez(0)}.bx-wrapper{/* border:5px solid #fff; */background:#fff;/* -moz-box-shadow:0 0 5px #ccc;-webkit-box-shadow:0 0 5px #ccc;box-shadow:0 0 5px #ccc */}.bx-wrapper .bx-controls-auto,.bx-wrapper .bx-pager{position:absolute;bottom:-30px;width:100%}.bx-wrapper .bx-loading{position:absolute;top:0;left:0;z-index:200;min-height:50px;background:url(bx_loader.gif) center center no-repeat #fff;width:100%;height:100%}.bx-wrapper .bx-pager{padding-top:20px;color:#666;font-weight:700;font-size:.85em;font-family:Arial;text-align:center}.bx-wrapper .bx-pager.bx-default-pager a{margin:0 5px;display:block;width:10px;height:10px;background:#999;text-indent:-9999px;outline:0;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}.bx-wrapper .bx-pager.bx-default-pager a.active,.bx-wrapper .bx-pager.bx-default-pager a:focus,.bx-wrapper .bx-pager.bx-default-pager a:hover{background:#5dc9c9}.bx-wrapper .bx-controls-auto .bx-controls-auto-item,.bx-wrapper .bx-pager-item{display:inline-block}.bx-wrapper .bx-pager-item{line-height:0;font-size:0}.bx-wrapper .bx-next,.bx-wrapper .bx-prev{position:absolute;top:50%;z-index:200;margin-top:-16px;width:32px;height:32px;text-indent:-9999px;outline:0;text-decoration:none}.bx-wrapper .bx-prev{left:4px;
	background:url(pre.png) no-repeat scroll center center}.bx-wrapper .bx-next{right:10px;background:url(next.png) no-repeat scroll center center}.bx-wrapper .bx-prev:focus,.bx-wrapper .bx-prev:hover{/* background-position:0 0 */}.bx-wrapper .bx-next:focus,.bx-wrapper .bx-next:hover{
		/* background-position:-43px 0 */}.bx-wrapper .bx-controls-direction a.disabled{display:none}.bx-wrapper .bx-controls-auto{text-align:center}.bx-wrapper .bx-controls-auto .bx-start{margin:0 3px;display:block;width:10px;height:11px;background:url(bx_controls.png) -86px -11px no-repeat;text-indent:-9999px;outline:0}.bx-wrapper .bx-controls-auto .bx-start.active,.bx-wrapper .bx-controls-auto .bx-start:focus,.bx-wrapper .bx-controls-auto .bx-start:hover{background-position:-86px 0}.bx-wrapper .bx-controls-auto .bx-stop{margin:0 3px;display:block;width:9px;height:11px;background:url(bx_controls.png) -86px -44px no-repeat;text-indent:-9999px;outline:0}.bx-wrapper .bx-controls-auto .bx-stop.active,.bx-wrapper .bx-controls-auto .bx-stop:focus,.bx-wrapper .bx-controls-auto .bx-stop:hover{background-position:-86px -33px}.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{width:80%;text-align:left}.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{right:0;width:35px}.bx-wrapper .bx-caption{position:absolute;bottom:0;left:0;width:100%;background:#666;background:rgba(80,80,80,.75)}.bx-wrapper .bx-caption span{display:block;padding:10px;color:#fff;font-size:.85em;font-family:Arial}



#demoSlider1 .bx-wrapper{margin:0 auto;}
#demoSlider1 .bx-pager{bottom:10px;}
#demoSlider1 .bx-controls-direction{display:none;}
#demoSlider2 .bx-wrapper{margin:0 auto;}
#demoSlider2 .bx-pager{display:none; bottom:10px;}
#demoSlider3 .bx-wrapper{}
#demoSlider3 .bx-pager{}
#demoSlider3 .bx-controls-direction{display:none;}




/** contentout  **/
.contentout{padding-bottom:60px;background-color:#fff;}
.content{}
.a4modb{margin-right:auto;margin-left:auto;
width:1200px;background-color:#fff;}

.a4modcon{margin-top:60px;}

.a4nh{margin-right:auto;margin-left:auto;width:1200px;line-height:30px;
padding:8px 0 0 20px;box-sizing:border-box;
border-bottom:2px solid #d1cfd0;}

.a4tit{position:relative;top:1px;
padding-bottom:8px;color:#000;font-size:20px;font-weight:600;
border-bottom:2px solid #136db3;}



/** p9nte  **/
.p9nte{padding:44px 70px;border:1px solid #e1e1e1;}
.p9tit{float:left;margin-left:2%;width:23.5%;}
.p9tit:first-child{margin-left:0;}
.p9cov{height:134px!important;}

.p9nte{}







/** b1mod  **/
.b1mod{position:relative;width:1200px;}
.ulmodout{margin-right:auto;margin-left:auto;width:1100px;
background-color:#fff;}
.ulmod{float:left;margin-left:2%;width:23.5%;padding:20px 14px;
box-sizing:border-box;border:1px solid #ccc;text-align:center;
border-radius:12px;}
.ulmod:first-child{margin-left:0;}
a.b1lnk{display:block;line-height:26px;padding-top:80px;
color:#f08300;font-size:14px;}
.b1tit{display:block;line-height:24px;color:#f08300;font-size:14px;}
.b1bti{margin-top:6px;display:block;line-height:26px;font-size:16px;}
.b1bar{margin:20px auto;width:70px;border-top:1px solid #c3c3c3;}


.b1cot{text-align:left;}
.b1itm{}
a.b2lnk{padding-left:14px;
background:url(right1.png) no-repeat -4px center;
color:#747474;font-size:14px;}


.b1lnka{background:url(in1iconb.png) no-repeat center top;}
.b1lnkb{background:url(in2icona.png) no-repeat center top;}
.b1lnkc{background:url(in3icona.png) no-repeat center top;}
.b1lnkd{background:url(in4icona.png) no-repeat center top;}



.ulmoda0:hover{background-color:#f5393a;}
.ulmodb:hover{background-color:#55b60e;}
.ulmodc:hover{background-color:#00aad5;}
.ulmodd:hover{background-color:#7e3baf;}



.ulmod:hover .b1lnk{color:#fff;}


.ulmod:hover .b1lnka{background:url(in1icona.png) no-repeat center top;}
.ulmod:hover .b1lnkb{background:url(in2iconb.png) no-repeat center top;}
.ulmod:hover .b1lnkc{background:url(in3iconb.png) no-repeat center top;}
.ulmod:hover .b1lnkd{background:url(in4iconb.png) no-repeat center top;}




.ulmod:hover .b1tit{color:#fff;}
.ulmod:hover .b1bar{border-top:1px solid #fff;}

.ulmod:hover .b2lnk{background:url(right.png) no-repeat left center;color:#fff;}





/** k1modout  **/
.k1modout{padding:40px 0;
background:url(dongtai.jpg) no-repeat center center/100% 100%;}
.k1mh{text-align:center;}
.k1tit{display:block;line-height:46px;color:#474747;font-size:34px;}
.k1sup{line-height:34px;padding-bottom:30px;
color:#f08300;font-size:28px;font-weight:600;}

.k1sup2{padding-bottom:0;}


/** k2modout  **/
.k2modout{}
.k2mod{float:left;width:50%;padding-right:10px;box-sizing:border-box;}
.k3mod{float:right;width:50%;padding-left:10px;box-sizing:border-box;}




.k2mh{line-height:34px;}
.k2tit{color:#f08300;font-size:18px;}
.k2sup{padding-left:14px;}


.k2dl{}
.k2dt{position:relative;}
.k2dd{margin-top:16px;line-height:26px;
color:#7f7f7f;font-size:14px;text-indent:2em;}


.k2lnk{display:block;border:1px solid #ccc;}
.k2cov{width:100%;height:280px;}


.k2gs{position:absolute;top:0;left:4px;width:60px;line-height:22px; 
height:56px;background:url(jianjie.png) no-repeat center center;
padding-top:4px;color:#fff;font-size:18px;text-align:center;}


/** k3mod  **/
.k3mod{margin-top:35px;}
.k3nte{}
.k3lnk{position:relative;
	float:left;margin-left:2%;margin-bottom:2%;width:46%;}
.k3lnk:nth-child(2n+1){margin-left:0;}

.k3cov{height:205px;}
.k3tit{line-height:28px;color:#767676;font-size:16px;}


.k3icons{position:absolute;bottom:28px;left:0;padding:3px 12px;
background-color:#f08300;}
.k3icon{display:block;line-height:26px;color:#fff;font-size:30px;
text-indent:-0.1em;}      
.k3dte{line-height:14px;color:#fff;font-size:16px;}

.k3icons{}
	    

		
/** k5mod  **/
.k5mod{padding:40px 0 60px;background-color:#fff;}
.k5cot{margin-top:60px;}
.k5itm{float:left;margin-left:2%;width:32%;padding:0 20px;
box-sizing:border-box;}
.k5itm:first-child{margin-left:0%;}



/** k5btis  **/
.k5btis{position:relative;padding:54px 24px 10px;border-radius:8px;}
.k5cov{position:absolute;top:-58px;left:50%;margin-left:-58px;}

.k5btia{background-color:#f08300;}
.k5btib{background-color:#97c601;}
.k5btic{background-color:#04aed8;}

.k5bti{display:block;line-height:28px;
color:#fff;font-size:16px;font-weight:600;text-align:center;}
.k5mtas{}
.k5mta{float:left;color:#fff;font-weight:600;}
.k5tit{margin-left:50px;display:block;color:#fff;font-weight:600;}





.k5nte{line-height:22px;padding:6px 6px 0;
color:#989898;font-size:14px;}

.k5mors{padding-top:20px;text-align:center;}
a.k5mor{padding:6px 10px;color:#fff;font-size:16px;border-radius:10px;}
.k5mora{background-color:#f08300;}
.k5morb{background-color:#97c601;}
.k5morc{background-color:#04aed8;}



.k6itm{margin-top:50px;text-align:center;}
a.k6lnk{width:210px;line-height:46px;border-radius:12px;
background-color:#f08300;color:#fff;font-size:16px;}





/** k7mod  **/
.k7mod{padding-bottom:50px;background-color:#fff;}

.ulmoda{padding:0 0 20px;border-radius:0;}

.ulmoda:hover{background-color:#fff;}

.p1cob{position:relative;}
.p1cov{}
.p1bti{position:absolute;bottom:-35px;left:50%;margin-left:-35px;
width:70px;height:58px;line-height:22px;padding-top:12px;
background-color:#e8983a;color:#fff;font-size:16px;border-radius:50%;}

.p1last{background-color:#5e534d;}

.p1nte{padding:40px 0 10px 10px;
color:#494949;font-size:14px;font-weight:600;text-align:left;}


.p1lnk{display:block;margin:0 0 10px 10px;line-height:28px;padding-left:28px;
background:url(nav.png) no-repeat left center; color:#494949;font-size:16px;font-weight:600;text-align:left;}


.p1dte{line-height:22px;padding-left:10px;color:#666;font-size:14px;
text-align:left;}


/** p2modout  **/
.p2modout{padding-bottom:55px;
background:url(teacbgc.png) no-repeat center center/100% 100%;}
.p2mod{padding-top:40px;}


.p2dl{}
.p2dt{float:left;width:452px;height:348px;border:8px solid #e9cead;border-radius:6px;}
.p2dd{margin-left:510px;}


.p2lnk{display:block;border:6px solid #e9cead;border-radius:8px;}
.p2cob{border-radius:2px;}

.p2vid{width:452px;height:348px;object-fit:fill;
border-radius:3px;}


.p2mh{line-height:28px;}
.p2mha{padding-bottom:6px;}
.p2mhb{padding:6px 0;}

.p2tit{padding-left:26px;background: url(jen1.png) no-repeat left center;
color:#1ad9a9;font-size:22px;}

.p2titb{background:url(jen3.png) no-repeat left center;
color:#7e3bb0;}


.p2cot{}
.p2itm{position:relative;}
.p2cov{position:absolute;right:0;top:0;width:140px;height:140px;}
.p2nte{margin-right:140px;line-height:24px;padding:22px 30px;
background-color:#fff;color:#808080;font-size:14px;}
.p2icon{position:absolute;top:0;left:0;}


.p2mors{margin-top:12px;text-align:right;}
a.p2mor{padding:6px 8px;background-color:#fff;
color:#ffa500;font-size:16px;border-radius:12px;}




/** p3modout  **/
.p3modout{padding-top:40px;background-color:#fff;}
.p3mod{}


.p3dl{}
.p3dt{float:left;}
.p3dd{margin-left:574px;}

.p3lnk{}
.p3cov{}


.p3cot{position:relative;padding:13.375px 30px;}
.p3itm{}
.p3nh{line-height:34px;color:#797979;font-size:16px;font-weight:600;}
.p3nte{line-height:24px;font-size:14px;}


.p3dd  .on{background-color:#f08300;color:#fff;}
.p3dd  .on .p3nh{color:#fff;}

.p3dd  .on:before{position:absolute;top:54.5px;left:-24px;content:'';
border-width:12px;border-style:solid;transform:translateY(-50%);
border-color:transparent #f08300 transparent transparent;}



.p3cot:hover{background-color:#f08300;}

.p3cot:hover .p3nh{color:#fff;}
.p3cot:hover .p3nte{color:#fff;}


.p3cot:hover :before{position:absolute;top:54.5px;left:-24px;content:'';
border-width:12px;border-style:solid;transform:translateY(-50%);
border-color:transparent #f08300 transparent transparent;}




/** p4modout  **/
.p4modout{padding-top:85px;padding-bottom:80px;
background:url(anlibgc.png) no-repeat center -180px;}
.p4mod{}



.p4cot{margin-top:20px;}
.p4itm{float:left;width:25%;background-color:#fff;}


.p4nh{line-height:30px;padding:68px 20px 0;color:#474747;
font-size:16px;font-weight:600;text-align:center;}
.p4nte{padding:0 14px 68px;color:#737474;font-size:14px;
text-indent:2em;}

.p4cov{}



/** p5modout  **/
.p5modout{padding:0 0 40px;background-color:#f9f9f9;}
.p5mod{}


.p6cot{margin-top:20px;}
.p6itm{float:left;margin-left:2%;width:32%;}
.p6itm:first-child{margin-left:0;}
.p6lnk{}
.p6cov{}
.p6nh{line-height:34px;color:#666;font-size:16px;}
.p6nte{line-height:24px;color:#464646;
font-size:14px;text-indent:2em;}



/** p6modout  **/
.p6modout{padding:30px 0;background-color:#fff;}
.p6mod{}


.p6nte{}
.p6lnk{float:left;margin-left:2%;margin-bottom:2%;
width:23.5%;padding:10px;border:1px solid #e1e1e1;
box-sizing:border-box;}
.p6lnk:nth-child(4n+1){margin-left:0;}
.p6avg{width:100%;height:168px;}



/** p8modout  **/
.p8modout{padding-bottom:60px;background-color:#fff;}
.p8mod{}


.p9mod{float:left;width:870px;}
.p0mod{float:right;width:280px;}




/** p0mod  **/
.p0mod{padding:24px 4px;
background-color:#f08300;text-align:center;}


.p0nh{line-height:60px;color:#fff;font-size:46px;}
.p0nte{line-height:38px;color:#fff;font-size:22px;}
.p0lnks{margin-top:30px;}
a.p0lnk{padding:12px 16px;border:1px solid #fff;
color:#fff;font-size:16px;border-radius:8px;}



.p9mod .bx-wrapper .bx-prev{left:-4px;margin-top:-35px;
width:48px;height:70px;
background:url(left.png) no-repeat center center/auto 100%;}


.p9mod .bx-wrapper .bx-next{right:-4px;margin-top:-35px;
width:48px;height:70px;
background:url(right0.png) no-repeat center center/auto 100%;}



/** p0mod  **/
a.bjjiesu{padding:12px 30px;}





/** banjidetail.html  **/
/** hd1dd  **/
.bj11nh{line-height:30px;font-size:18px;}
.bj11num{padding-bottom:6px;color:#333;font-size:14px;}
.bj1mtas{margin-bottom:10px;padding:8px 0 8px 10px;
background-color:#fcf0e1;color:#f08300;}
.bj1mta{}
.bj1tit{}
.bj1cob{line-height:38px;font-size:30px;}

.bj1nte{line-height:26px;color:#7f7f7f;font-size:14px;}
.hd1nte{}
.bj1adress{padding-right:26px;
background:url(nav2.png) no-repeat right center;}


.bj2nte{margin-right:30px; text-align:right;}
.bj2tit{line-height:28px;padding-left:32px;
background:url(zixun.png) no-repeat left center;color:#f08300;font-size:16px;}



/** bjwrap  **/
.bjwrap{border-bottom:1px solid transparent;
border-left:1px solid transparent;border-right:1px solid transparent;}
.hd1cota{margin-top:0;}
.hd1itma{position:relative;top:-20px;}



/** hd2modout  **/
.hd2modout{}


/** bj1mod  **/
.bj1mod{position:relative;margin-right:240px;}
.bj2mod{position:absolute;top:0;right:0;
width:220px;}


/** bj3mod  **/
.bj3mod{}
.bj3mh{line-height:34px;}
.bj3tit{padding-left:10px;background:url(banji2.png) no-repeat left center;
color:#666;font-size:16px;}



/** bj3cot  **/
.bj3cot{}
.bj3itm{line-height:28px;padding-left:20px;}
.bj3itma1{background:url(111.png) no-repeat left center;}
.bj3itma2{background:url(222.png) no-repeat left center;}
.bj3itma3{background:url(333.png) no-repeat left center;}


.bj3itma4{background:url(444.png) no-repeat left center;}
.bj3itma5{background:url(555.png) no-repeat left center;}
.bj3itma6{background:url(666.png) no-repeat left center;}
.bj3itma7{background:url(777.png) no-repeat left center;}
.bj3itma8{background:url(888.png) no-repeat left center;}
.bj3itma9{background:url(999.png) no-repeat left center;}
.bj3itma10{background:url(100.png) no-repeat left center;}




/** bj4mod  **/
.bj4mod{margin-top:10px;}
.bj3mha{border-bottom:1px solid #d4d4d4;}


/** bj3cot  **/
.bj3cot{margin-top:16px;}
.bj4itm{margin-bottom:14px;}
.bj4lnk{float:left;display:block;}
.bj4cov{}
.bj4nte{margin-left:70px;font-size:14px;}


.bj3cot{}



/** bj1mod  **/
.bj1mod{}
.bj1mh{line-height:36px;}
.bj1tit{}



/** bj1cot  **/
.bj1cot{margin-top:30px;}
.bj1itm{}
.bj2mta{float:left;width:70px;line-height:30px;color:#f08300;
font-size:14px;font-weight:600;}
.bj3nte{margin-left:70px;line-height:30px;
color:#6e6e6e;font-size:14px;font-weight:600;}
.bj1jiaoxue{padding:10px 0;color:#f08300;font-size:14px;font-weight:600;}




/** tijiaodingdan.html  **/
/** alltj  **/
.alltj{background-color:#fff;}
.wraptj{border-top:1px solid #d4d4d4;}



/** tj1mod  **/
.tj1mod{padding-top:20px;;}
.tj1mh{line-height:26px;padding-bottom:16px;
font-size:18px;}
.tj3form{}
.tj1cot{background-color:#f2f2f2;}
.tj1itm{float:left;width:16.6%;padding:10px 0;
font-size:14px;text-align:center;}





/** tj2cot  **/
.tj2cot{margin-top:20px;background-color:#f9fdfc;border:1px solid #d4d4d4;}
.tj2itm{float:left;width:16.6%;padding:30px 0;color:#5b5c5c;font-size:14px;
text-align:center;font-weight:600;}
.tj2tit{display:block;font-weight:600;}
.tj2tita{text-indent:-2em;}


.tj2jian{width:20px;height:20px;border:1px solid #d4d4d4;}
.tj2num{width:36px;height:20px;border-top:1px solid #d4d4d4;
border-bottom:1px solid #d4d4d4;}
.tj2jia{}


.tj2color{color:#f18b03;}




/** tj3mod  **/
.tj3mod{margin-top:40px;padding:20px 24px 0 10px;border:1px solid #d4d4d4;}
.tj3cot{margin-bottom:20px;}
.tj3itm{float:left;}
.tj3slts{position:relative;margin-right:20px;}
.tj3slt{width:170px;height:32px;background-color:#fff;
border:1px solid #d4d4d4;color:#5b5c5c;
font-size:14px;font-weight:600;text-indent:0.1em;}


.tj3icon{position:absolute;top:1px;right:1px;z-index:10;
width:26px;height:30px;pointer-events:none;
background:#fff url(san2.png) no-repeat center center;}




/** tj4cot  **/
.tj4cot{}
.tj4itm{position:relative;margin-bottom:20px;}
.tj4mta{float:left;width:80px;line-height:32px;color:#333;
font-size:14px;text-align:right;}
.tj4ipts{margin-left:80px;}
.tj4iptsa{width:143px;}
.tj4ipta{width:43.5%;}
.tj4ipt{}


.tj4tit{position:absolute;top:0;left:240px;width:100px;
line-height:32px;background-color:#e68011;color:#fff;font-size:14px;
text-align:center;}





/** tj5cots  **/
.tj5cots{padding-top:10px;margin-bottom:50px;}
.tj5mh{line-height:46px;padding-left:10px;background-color:#e68011;
color:#fff;font-size:18px;}


.tj5nh{position:relative;top:-2px;
line-height:44px;border-bottom:1px solid #d4d4d4;}
.tj5tit{position:relative;width:120px;border-right:1px solid #d4d4d4;

color:#e68011;font-size:14px;font-weight:600;text-align:center;}
.tj5tit:after{position:absolute;bottom:-1px;left:0;
width:100%;height:2px;background-color:#fff;z-index:6;
content:'';}




/** tj5cot  **/
.tj5cot{margin-top:40px;padding-left:20px;}
.tj5itm{position:relative;float:left;width:140px;line-height:36px;}
.tj5icon{float:left;width:32px;height:32px;
background:url(yuan.png) no-repeat center 2px;}




/** ht  **/
.ht{color:transparent;font:0/0 a;text-shadow:none;}/*真正透明文字*/
.inb{display:inline-block;}
.hide{display:none;}
.rd input{display:none;}

.rds{font-size:12px;}
.rd{float:left;width:26px;line-height:26px;}
.rd input{position:absolute;top:-20px;left:0;}
.rd:before{margin-top:4px;margin-right:5px;display:inline-block;*display:inline;*zoom:1;vertical-align:top;content:'';width:18px;height:18px;
border:1px solid #999;border-radius:50%;}
.rd.now:before{}
.rd:after{position:absolute;left:6px;top:10px;content:'';width:8px;height:8px;border-radius:50%;background-color:#fff;}
.rd.now:after{background-color:#e68011;}


.tj5covs{margin-left:32px;}
.tj5cov{height:26px;}



/** tj6cot  **/
.tj6cot{}
.tj6mh{}
.tj6mtas{padding-bottom:30px;text-align:right;border-bottom:1px dashed #ccc;}
.tj6mta{color:#333;font-size:14px;font-weight:600;}
.tj6tit{color:#e68011;font-size:16px;}



/** tj7mod  **/
.tj7mod{padding-top:20px;}
.tj7itm{}
.tj7teas{width:700px;height:200px;border:1px solid #d4d4d4;}
.tj7tea{background-color:#fff;text-indent:1em;}


.tj7btns{padding:40px 0;text-align:center;}
.tj7btn{width:250px;line-height:48px;background-color:#e68011;color:#fff;
font-size:16px;font-weight:600;text-align:center;border-radius:8px;}







/** barmod  **/
.barmod{}
.wj1mod{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);
width:560px;height:280px;padding:20px;background-color:#fff;
box-sizing:border-box;}
.wj1mh{line-height:28px;padding-bottom:10px;border-bottom:1px solid #d9d9d9;
color:#e88821;font-size:16px;}


.wj1form{margin-right:auto;margin-left:auto;margin-top:20px;width:340px;}
.wj1cot{}
.wj1itm{margin-bottom:20px;}
.wj1mta{float:left;width:60px;line-height:32px;
font-size:16px;text-align:right;}
.wj1ipts{margin-left:66px;}
.wj1ipt{width:100%;letter-spacing:2px;}



.wj1covs{float:right;width:80px;height:32px;}
.wj1cov{margin-top:5px;}
.wj1iptsb{margin-left:66px;margin-right:80px;}


.wj1btns{text-align:right;}
.wj1btn{width:320px;line-height:44px;background-color:#e88821;color:#fff;
font-size:16px;font-weight:600;text-align:center;}




/** jlogin.html  **/
/** lg1mod  **/
.lg1mod{position:absolute;top:80px;right:10%;
width:380px;padding:20px;
background-color:#fff;box-sizing:border-box;}


.lg1mh{line-height:28px;border-bottom:1px solid #d9d9d9;
color:#e88821;font-size:16px;}
.lg1tit{width:160px;padding-bottom:10px;border-bottom:2px solid #e88821;
font-size:18px;}



.p1form{margin-top:14px;}
.p1cot{}
.p1cot li{margin-bottom:8px;border:1px solid #d4d4d4;}
.lg1itm{border:1px solid transparent!important;}
.p1lbl{float:left;width:40px;line-height:38px;height:38px;
background-color:#ebe9e9;color:#999;text-align:center;}


.izhanghu{background:url(yonghu.png) no-repeat 12px center;}
.imima{background:url(mima.png) no-repeat 12px center;}


.p1val{margin-left:40px;}
.d2ipt{background-color:#fff;font-size:14px;
letter-spacing:1px;}

.p1mima{padding:4px 0;color:#fff;text-align:right;}

.p1fasong{float:right;width:100px;line-height:22px;height:22px;padding:8px 0;}
.lg1cov{margin-top:2px;padding-left:10px;border-left:1px solid #d4d4d4;}


.p1yanzheng{margin-right:110px;}


.p1jihuo{margin-top:6px;}
.p1jihuo a{padding:0 6px;color:#fff;}
.p1bl{color:#fff;}


.regmtas {text-align:right;}

.regbox{float:left;margin-right:15px;}
.regmta{float:left;margin-bottom:10px;}


.fbtj{}
.denglu{font-size:16px;letter-spacing:2px;font-weight:600;}



.lg1reg{line-height:26px;padding-top:8px;}
.lg1photo{}

.lg2covs{float:left;margin-right:20px;}
.lg2cov{}



/** mydingdan.html  **/
/** wrap2  **/
.wrapout2{padding-top:20px;padding-bottom:50px;
border-top:1px solid #d4d4d4;}
.wrap2{position:relative;min-height:900px;}
.main2{margin-left:300px;}
.seco2{position:absolute;top:0;left:0;width:290px;padding:20px 20px 0;
background-color:#fff;box-sizing:border-box;border:1px solid #d4d4d4;}



/** mg1mod  **/
.mg1mod{}
.mg1mh{line-height:30px;padding-bottom:6px;border-bottom:2px solid #ff7b00;}
.mg1tit{font-size:16px;}
.mg1mta{position:relative;top:-2px;color:#333;font-size:12px;}



.mg2cot{margin-top:20px;border-bottom:1px dotted #d4d4d4;}
.mg2itm{line-height:34px;padding-left:10px;font-size:14px;}

.mg2itm:hover{background-color:#ff7b00;color:#fff;}

.mg2cot .on{background-color:#ff7b00;color:#fff;}

.mg2itma{background:url(dingdan.png) no-repeat left center;}




/** mg2mod  **/
.mg2mod{margin-top:50px;}
.mg3itm{line-height:34px;padding-left:10px;font-size:14px;
border-bottom:1px dotted #d4d4d4;}
.mg3itmb{border-bottom:1px solid transparent;}


.mg3itm:hover{background-color:#ff7b00;color:#fff;}

.mg3cot .on{background-color:#ff7b00;color:#fff;}






/** main2  **/
.main2{}

.mg4dl{padding:24px;background-color:#fff;border:1px solid #d4d4d4;}
.mg4dt{float:left;}
.mg4dd{margin-left:136px;}


.mg4lnk{display:block;}
.mg4cov{}


.mg4nh{line-height:32px;padding-bottom:3px;}
.mg4tel{margin-right:10px;color:#ff7b00;}
.mg4tit{font-size:14px;}


.mg4bti{line-height:32px;padding-bottom:3px;color:#6bc4e7;font-size:15px;}
.mg4mtas{line-height:32px;padding-bottom:3px;}
.mg4mta{color:#999;}
.mg4nte{line-height:32px;padding-bottom:3px;color:#6bc4e7;}



   
/** mg5modout  **/
.mg5modout{}
.mg5mh{padding:20px 0 20px 20px;font-size:18px;}

.mg5mod{padding:10px 10px 0;
background-color:#fff;border:1px solid #d4d4d4;}
.mg5nh{line-height:26px;padding:4px 0 14px;}
.mg5tit{width:70px;
color:#333;font-size:14px;text-indent:0.5em;}

.mg5cob{color:#d4d4d4;}


/** mg6mod  **/
.mg6mod{margin-bottom:12px;border:1px solid #d4d4d4;}
.mg6mh{line-height:24px;padding:8px 0 8px 8px;background-color:#f6f6f6;}
.mg6nte{}
.mg6tita{float:left;margin-top:24px;margin-left:10px;}
.mg6cov{}


.mg6titb{padding-top:3px;padding-left:20px;}
.mg6titc{padding-top:3px;padding-left:140px;}
.mg6titd{padding-top:3px;padding-left:82px;}
.mg6tite{padding-top:3px;padding-left:82px;}
.mg6titf{padding:14px 20px;border-left:1px solid #d4d4d4;
border-right:1px solid #d4d4d4;text-align:center;}

.mg6titnum{margin-left:20px;padding:44px 36px;border-left:1px solid #d4d4d4;}

.mg6tit{display:block;}
.mg6queren{color:#ff2626;}


.mg6tith{padding:0 16px;text-align:center;}




/** myyuyue.html  **/
/** mg5modouta  **/
.mg5modouta{background-color:#fff;border:1px solid #d4d4d4;}

.wy1nte{line-height:24px;padding:8px 0 8px 8px;background-color:#f6f6f6;}
.wy1tit{float:left;width:16.6667%;color:#333;font-size:14px;
text-align:center;}

a.wy1bti{color:#333;}

.wy1ntea{padding:18px 0;background-color:#fff;border-bottom:1px solid #d4d4d4;}
.wy1ntea2{border-bottom:1px solid transparent;}
.wy1covs{float:left;margin-left:40px;}

.wy1tita{padding-top:18px;text-align:right;}

.wy1num{position:relative;right:-20px;}
.wy1numb{position:relative;right:20px;}
.wy1numc{position:relative;right:40px;}



/** stuziliao.html  **/
/** st1mod  **/
.st1mod{padding:24px 14px 40px;background-color:#fff;
border:1px solid #d4d4d4;}
.st1form{}
.st1ipts{width:168px;}
.st1ipt{width:100%;}	

.st1xb{padding-left:20px;text-align:left;box-sizing:border-box;}	

.st1zn{width:120px;}
.st1zns{margin-left:130px;}




/** st2mod  **/
.st2mod{}
.st2mh{line-height:46px;padding-left:20px;
background-color:#f2f2f2;color:#333;font-size:18px;}
.st2form{}
.st2nh{line-height:26px;padding:6px 0;font-size:14px;}
.st2teas{width:690px;height:140px;}
.st2tea{width:100%;height:140px;background-color:#fff;
border:1px solid #d4d4d4;text-indent:1em;}


.st3cot {padding-top:20px;}

.st3mta{line-height:20px;}

.st3sels{width:560px;}
.st3sel{width:100%;}


.st3tjs{padding-top:40px;text-align:center;}
.st3tj{width:250px;line-height:48px;background-color:#e68011;
color:#fff;font-size:18px;border-radius:8px;}





/** stuziliao.html  **/
/** cz1mod  **/
.cz1mod{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);
width:560px;height:280px;background-color:#fff;padding:16px 24px 0;
box-sizing:border-box;}

.cz1tit{padding-bottom:12px;font-size:18px;}
.cz1nte{line-height:26px;padding-top:20px;font-size:16px;}

.cz1btns{margin-top:50px;text-align:center;}
.cz1btn{width:140px;line-height:36px;}
a.cz1btna{margin-right:20px;background-color:#e88821;
color:#fff;font-size:16px;}
.cz1btnb{background-color:#f4f4f4;font-size:16px;border:1px solid #d4d4d4;}






/** myzhanghu.html  **/
/** mz1mod  **/
.mz1mod{padding:20px 0 60px 20px;
background-color:#fff;border:1px solid #d4d4d4;}
.mz1mh{line-height:30px;padding-bottom:16px;
font-size:18px;}




/** mz1cot  **/
.mz1cot{margin-top:20px;}
.mz1itm{padding-bottom:14px;}
.mz1mta{float:left;width:80px;line-height:26px;
color:#333;font-size:16px;text-align:right;}
.mz1tit{float:right;margin-right:60px;width:70px;line-height:30px;background-color:#cdcdcd;color:#fff;font-size:16px;text-align:center;letter-spacing:3px;border-radius:4px;}
.mz1ipts{margin-left:90px;margin-right:160px;}
.mz1ipt{font-size:16px;border:1px solid transparent;}





/** xiugaimima.html  **/
/** xm1mod  **/
.xm1mod{padding:20px 0 76px 20px;
background-color:#fff;border:1px solid #d4d4d4;}



.xm1cot{margin-top:20px;}
.xm1itm{margin-bottom:20px;}
.xm1mta{float:left;width:90px;line-height:26px;
font-size:14px;text-align:right;}
.xm1ipts{margin-left:100px;}
.xm1ipt{width:50%;}




a.xm1lnk{margin-left:100px;width:90px;line-height:38px;
background-color:#ff7b00;color:#fff;font-size:16px;letter-spacing:4px;text-align:center;}





/** shouhuodizhi.html  **/
/** sz1mod  **/
.sz1mod{padding:20px 0 205px 20px;
background-color:#fff;border:1px solid #333;}



/** sz1cot  **/
.sz1cot{margin-right:100px;border-left:1px solid #d4d4d4;
border-bottom:1px solid #d4d4d4;border-right:1px solid #d4d4d4;}
.sz1cot li{line-height:50px;padding-left:14px;border-top:1px solid #d4d4d4;}
.sz1itma{background-color:#faf9f9;}
.sz1mta{font-size:14px;}
.sz1mtab{margin-left:60px;}
.sz1mtac{float:right;padding-right:100px;}


.sz1mtad{float:right;padding-right:80px;}
.sz1mtae{margin-left:30px;}




